<!DOCTYPEhtml>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit item</title>
<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"
	th:href="@{../css/bootstrap.min.css}">
</head>

<body>
	<div class="container">
		<h1 class="text-center">Edit item</h1>
		<div>
			<form th:object="${item}" th:action="@{../save}" action="#"
					method="post">
				<input type="hidden" th:field="*{id}" />
				<div class="form-group">
					<label for="author">Author</label> 
					<input class="form-control" type="text" id="itemname" th:field="*{itemname}" /> 
				</div>
				<div class="form-group">
					<label for="ilevel">ilevel</label> 
					<input class="form-control" type="number" id="ilevel" th:field="*{ilevel}" /> 
				</div>
				<div class="form-group">
					<label for="source">source</label>
					<input class="form-control" type="text" id="source" th:field="*{source}" /> 
				</div>
				<div class="form-group">
					<label for="rarity">rarity</label> 
					<select class="form-control" id="rarity" th:field="*{rarity}">
    					<option th:each="rarity: ${rarities}" th:value="${rarity.rarityId}" th:text="${rarity.rname}"></option>
    				</select>
				</div>
				<div class="form-group">
    				<label for="slot">slot</label>
    				<select class="form-control" id="slot" th:field="*{slot}">
    					<option th:each="slot: ${slots}" th:value="${slot.slotId}" th:text="${slot.name}"></option>
    				</select>
  				</div>
				<input class="btn btn-success" type="submit" value="Save" />
			</form>
		</div>
	</div>
</body>

</html>